.proceed-message button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    text-decoration: underline;
    background-color: transparent;
    height: 30vh;
    font-size: 50px;
}

.proceed-message p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    font-size: 50px;
}

.proceed-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.change-browser-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 25px;
}