body {
  background-color: #9C3587;
  color: white;
  scroll-behavior: smooth;
}

button {
  color: white;
  font-size: larger;
  background-color: transparent;
  border: none;
}

#hero-image {
  background-image: url(assets/hero-image.png);
  background-size: cover;
  height: 100vh;
}